@{
    ViewData["Title"] = "Home Page";
}
<br/>

<div class="container">
    <div class="col-md-24">
        <textarea id="display-mensagem" cols="100" rows="20"></textarea>
        <br />
        <label>Mensagem: </label>
        <input id="mensagem" type="text" />
        <button id="Enviar">Enviar</button>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/chat.js"></script>